<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="container">
   <form method="post" style="max-width:500px;">
    <h1>Book a flight at Kaitlin's airline!</h1>
    <div class="form-group">
      <label>Pick a flight class</label>
      <label>You May choose from:</label>
      <label>First-Class</label>
      <label>Economy</label>
       <input class="form-control" type="text" id = "flightClass" name="flightClass">
    </div>

    <div class="form-group">
        <label>Select Amount Of Seats Needed</label>
         <input class="form-control" type="number" id= "numOfSeats" name="numOfSeats">
    </div>
    <input type="submit" value="Book Flight">
    </form> 
</body>
</html>