<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="jumbotron"></div>
    <h1 style="background-color:rgb(177, 168, 234)">Hotel Room Bookings</h1>
 
    <h1 th:text="${message}"></h1>

    <a class = "btn btn-primary btn-lg" style = "background-color:darkslateblue" href="/addHotel">Make Another Reservation</a>

    <a class = "btn btn-primary btn-lg" style = "background-color:darkslateblue" href="/">Return To Main Screen</a>
</body>
</html>

 <!--hotel bookings display page that will display the message declared in hotelServices.java. It should display
    whatever input the user entered in addHotel.html. There are also button links to either make another reservation 
    or return to the homepage-->